/* ================   reset ===============  */
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 13px;
	
	font-family: Arial,Helvetica,Tahoma,sans-serif;
	color: #363636;
}

/* ================   tags ===============  */
body { background: url(../images/header-bg.png) top repeat-x #fff;}

h1{font-size:1.8em;}
h2{font-size:1.8em;}
h3{font-size:1.3em;}
h4{font-size:1.2em;}
h5{font-size:1em;}
h6{font-size:.9em;}

td {line-height:1.2em;padding:3px;}
td.label {  padding-left:10px; width:130px; }
td.value {  }

li { list-style: none}
 

a { color: #CA0002; text-decoration: underline }
a:hover { text-decoration: none } 
pre{font-family:monospace;font-size:1.2em;}
textarea,select,optgroup,option,input {color:#000;font-family:arial,tahoma,verdana,sans-serif; }

.pagetitle { padding-top:20px; padding-bottom:20px; }
.label {  color:#666; padding-right:30px;}
.expand-open { cursor:hand; }
.action-closed { cursor:hand; }

.subtitle { padding-top:10px; padding-bottom:10px;}

/* ================   global layout ===============  */


.main {
	width: 980px;
	margin:0 auto;
	border: 0; /*1px solid #eee*/
}
 
/*.main2 {	 
	margin-left: auto;
	margin-right: auto; 
	background:url(../images/footer-bg.jpg) top repeat-x #1f1f1f;
	height: 130px;
}*/
.bottom {
	background: url(../images/footer-bg.jpg) top repeat-x #1f1f1f;
	width: 100%;
	height: 130px;
	color: #eee;
	margin:0 auto;
}

.main2 {
	width: 980px;
	margin: auto;
}
.form-table {
	border:1px solid #ddd;
	background-color:#fcfcfc;
	-moz-border-radius:.4em;-webkit-border-radius:.4em;border-radius:.4em;
}
.wrapper {
	width: 100%;
	overflow: hidden;
	
}

 
.col700 {
	width: 700px;
	float: left;
	padding-top: 10px;
	padding-left:10px;	
}
.col1 {
	width: 550px;
	float: left;
	padding-top: 10px;
	padding-left:10px;	
}

.left-border {
	border-left:1px solid #eee;
}
.col2 {
	width: 350px;
	float: left;
	padding-top: 10px;
}

.col150 {
	width: 150px;
	float: left;
	padding-top: 10px;
}
.col250 {
	width: 250px;
	float: left;
	padding-top: 10px;
}
.col200 {
	width: 200px;
	float: left;
	padding-top: 10px;
}
.section-title {	
	width:100%;
	padding: 20 0 5 0px;
	border-bottom: 1px solid #ddd;
}

div.spacer30 {
	height:30px;
}
/* ================   header ===============  */
.header h1,.header h1 a {
	padding-top: 2px;
	padding-bottom: 0px;
}
 
.header h4 {
	padding-top: 0px;
	padding-bottom: 2px;
}

.menu2 li {
	padding-right:20px;
}

#wrapper-header {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
}

#wrapper-header .menu {
	float: right;
	padding-top: 4px;
	padding-right: 17px;
}
#wrapper-header .menu li {
	float: left;
}
#wrapper-header .menu li a {
	display: block;
	color: #666;
	font-size:10px;
	text-transform: uppercase;
	line-height: normal;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
	text-decoration: none;
	font-weight: 400;
	text-transform: uppercase;
}
 
#wrapper-header .menu2 {	  
	margin-top: 30px;
	 
	padding-right: 17px;
	height:25px;
	border-bottom:1px solid #eee;
	 
}
#wrapper-header .menu2 li {
	float: left;
}
#wrapper-header .menu2 li a {
	display: block;
	color: #666;
	font-weight:bold;
	text-transform: uppercase;
	line-height: normal;
	padding: 10 20 10 20px;
	text-align: center;
	text-decoration: underline; 
}
#wrapper-header .menu2 li a:hover {
	display: block;
	color: #CA0002;
	 
	text-transform: uppercase;
	line-height: normal;
	padding: 10 20 10 20px;
	font-weight:bold;
	text-align: center;
	text-decoration: none;
 
}

/* ================   content ===============  */
#content {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 40px;
	padding-bottom: 50px;
	
}

/* ================   tabs  ===============  */


	/* ================   vl: vertical-left  ===============  */
div.tab-vl-container { width:800px; float:right;  padding-left:20px;	 }
div.tab-vl-container div {   }


ul.tab-vl-menu { margin:0; padding:0; list-style:none; height:600px; width:150px; float:left; }
ul.tab-vl-menu li {  width:208px; margin:0; text-transform:uppercase; }
 
ul.tab-vl-menu li a {padding:8px 0 0 15px;   text-transform:uppercase; display:block; font-size:14px; 
		color:#d00;  text-decoration:underline; outline:none; }
ul.tab-vl-menu a:hover { background-color:#F7F7F7; color:#d00;
	background: url(http://localhost:8089/nan21.dnet.core.www/resources/images/marker_2.jpg) top left no-repeat;
	background-position: 0px 15px; }
ul.tab-vl-menu a.current { background-color:#fff;	text-decoration: none;		 
		color:#919190;	cursor:default; background: none;}

 	/* ================   ht: horizontal-top  ===============  */
 	
 	
div.tab-ht-container { width:100%; }
div.tab-ht-container div { padding:15px 5px;  }
 
ul.tab-ht-menu {margin:0 !important; padding:0;height:30px;border-bottom:1px solid #666; }
ul.tab-ht-menu li { float:left;	padding:0;margin:0;	list-style-type:none; text-transform:uppercase; }
 
 
ul.tab-ht-menu li a { float:left;font-size:13px;display:block;padding:5px 30px;	text-decoration:none; border:1px solid #666;	
	border-bottom:0px;
	height:18px;
	color:#d00;  text-decoration:underline;
	 
	margin-right:2px;
	position:relative;
	top:1px;	
	outline:0;
	-moz-border-radius:4px 4px 0 0;	
 }
ul.tab-ht-menu a:hover {  background-color:#F7F7F7; color:#d00;
	background: url(http://localhost:8089/nan21.dnet.core.www/resources/images/marker_2.jpg) top left no-repeat;
	background-position: 10px 10px; }
ul.tab-ht-menu a.current {  border-bottom:1px solid #fff; background-color:#fff;	text-decoration: none; color:#919190;	cursor:default; background: none; }

 




/* ================   footer ===============  */
#wrapper-footer {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
}

.footer-column {
	float: right;
	width: 300px;
}

.footer-column h4 {
	padding-top: 8px;
	padding-bottom: 4px;
	color: #dedede;
}
.footer-column a {	 
	color: #999;
}
.copyright {
	padding-top: 20px;
}

.copyright p {
	line-height: 20px;
}




/* ==================   PJ styles ->  to be moved into the PJ css file*/


.prj-list td {
	border-bottom: 1px solid #eee;
	line-height:2.2em;
	padding-left:10px; 
}
.prj-list table {
	cell-padding:0;
	width:100%;
	
}
.prj-list th {
	padding-left:10px;
	line-height:2.2em; 
	text-align:left;
	border-bottom: 2px solid #ccc;
}





/* ==================   MM styles ->  to be moved into the MM css file*/
.categories {
	
}

.categories li a {
	padding-left: 14px;  
	background: url(../images/marker_2.jpg) top left no-repeat;
	background-position: 0px 4px;
}

.categories li {
	padding-top: 4px;	
	height: 25px;
}

p.attr-title {
	width: 130px;
	padding: 3px 0px 0px 0px;
	margin: 0px;
	float: left;
	line-height: 14px;
}

p.attr-value {
	width: 220px;
	padding: 3px 0px 0px 0px;
	margin: 0px;
	float: left;
	line-height: 14px;
}

p.prod-attr-type {
	width: 350px;
	float: left;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	padding-top:25px;
}

.prod-list-item {
	padding:20px;
	width:200px;
	 
	float:left;
	margin:auto;
	text-align:center;
}
.prod-list-item h4{
	font-size:14px;	
} 



/* jQuery lightBox plugin - Gallery style  */

	#gallery {
		background-color: #fff;
		padding: 10px;
		width: 520px;
	}

	#gallery ul { list-style: none; }

	#gallery ul li { display: inline; }

	#gallery ul img {
		border: 5px solid #e3e3e3;
		border-width: 5px 5px 20px;
	}

	#gallery ul a:hover img {

		border: 5px solid #ccc;

		border-width: 5px 5px 20px;

		color: #fff;

	}

	#gallery ul a:hover { color: #fff; }
	
