/* ================   reset ===============  */
* {
	margin: 0;
	padding: 0;
	border: 0;
}

/* ================   tags ===============  */
body {
	border: 0;
	font: 12px Arial, Helvetica, sans-serif;
	color: #363636;
	line-height:16px;
	background: url(../images/header-bg.png) top repeat-x #fff;
}

li {
	list-style: none
}

a {
	color: #CA0002;
	text-decoration: underline
}

a:hover {
	text-decoration: none
}

h1 {
	font-size: 28px;
	color: #6c6c6c;
	line-height: normal;
	padding-top: 12px;
	padding-bottom: 12px;
}

h2 {
	font-size: 24px;
	color: #4d4d4d;
	line-height: normal;
	padding-top: 10px;
	padding-bottom: 10px;
}

h3 {
	font-size: 20px;
	color: #4d4d4d;
	line-height: normal;
	padding-top: 8px;
	padding-bottom: 8px;
}

h4 {
	font-size: 16px;
	color: #4d4d4d;
	line-height: normal;
	padding-top: 6px;
	padding-bottom: 6px;
}

/* ================   global layout ===============  */
.main {
	width: 980px;
	margin:0 auto;
	border: 0; /*1px solid #eee*/
}

/*.main2 {	 
	margin-left: auto;
	margin-right: auto; 
	background:url(../images/footer-bg.jpg) top repeat-x #1f1f1f;
	height: 130px;
}*/
.bottom {
	background: url(../images/footer-bg.jpg) top repeat-x #1f1f1f;
	width: 100%;
	height: 130px;
	color: #eee;
	margin:0 auto;
}

.main2 {
	width: 980px;
	margin: auto;
}

.wrapper {
	width: 100%;
	overflow: hidden;
}

.col1 {
	width: 550px;
	float: left;
	padding-top: 10px;
}

.col2 {
	width: 350px;
	float: left;
	padding-top: 10px;
}

.col150 {
	width: 150px;
	float: left;
	padding-top: 10px;
}
.col250 {
	width: 250px;
	float: left;
	padding-top: 10px;
}
.col200 {
	width: 200px;
	float: left;
	padding-top: 10px;
}
.section-title {	
	width:100%;
	padding: 20 0 5 0px;
	border-bottom: 1px solid #ddd;
}
/* ================   header ===============  */
.header h1,.header h1 a {
	padding-top: 2px;
	padding-bottom: 0px;
}
 
.header h4 {
	padding-top: 0px;
	padding-bottom: 2px;
}


#wrapper-header {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
}

#wrapper-header .menu {
	float: right;
	padding-top: 4px;
	padding-right: 17px;
}
#wrapper-header .menu li {
	float: left;
}
#wrapper-header .menu li a {
	display: block;
	color: #666;
	font-size:10px;
	text-transform: uppercase;
	line-height: normal;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
	text-decoration: none;
	font-weight: 400;
	text-transform: uppercase;
}
 
#wrapper-header .menu2 {	  
	margin-top: 15px;
	 
	padding-right: 17px;
	height:25px;
	
	 
}
#wrapper-header .menu2 li {
	float: left;
}
#wrapper-header .menu2 li a {
	display: block;
	color: #666;
	font-weight:bold;
	text-transform: uppercase;
	line-height: normal;
	padding: 10 20 10 20px;
	text-align: center;
	text-decoration: underline; 
}
#wrapper-header .menu2 li a:hover {
	display: block;
	color: #CA0002;
	 
	text-transform: uppercase;
	line-height: normal;
	padding: 10 20 10 20px;
	font-weight:bold;
	text-align: center;
	text-decoration: none;
 
}

/* ================   content ===============  */
#wrapper-content {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 40px;
	padding-bottom: 50px;
	
}

/* ================   footer ===============  */
#wrapper-footer {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
}

.footer-column {
	float: right;
	width: 300px;
}

.footer-column h4 {
	padding-top: 8px;
	padding-bottom: 4px;
	color: #dedede;
}
.footer-column a {	 
	color: #999;
}
.copyright {
	padding-top: 20px;
}

.copyright p {
	line-height: 20px;
}

/* ==================   MM styles ->  to be moved into the MM css file*/
.categories {
	
}

.categories li a {
	padding-left: 14px;  
	background: url(../images/marker_2.jpg) top left no-repeat;
	background-position: 0px 4px;
}

.categories li {
	padding-top: 4px;	
	height: 25px;
}

p.attr-title {
	width: 130px;
	padding: 3px 0px 0px 0px;
	margin: 0px;
	float: left;
	line-height: 14px;
}

p.attr-value {
	width: 220px;
	padding: 3px 0px 0px 0px;
	margin: 0px;
	float: left;
	line-height: 14px;
}

p.prod-attr-type {
	width: 350px;
	float: left;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	padding-top:25px;
}

.prod-list-item {
	padding:20px;
	width:200px;
	 
	float:left;
	margin:auto;
	text-align:center;
}
.prod-list-item h4{
	font-size:14px;	
} 



/* jQuery lightBox plugin - Gallery style  */

	#gallery {
		background-color: #fff;
		padding: 10px;
		width: 520px;
	}

	#gallery ul { list-style: none; }

	#gallery ul li { display: inline; }

	#gallery ul img {
		border: 5px solid #e3e3e3;
		border-width: 5px 5px 20px;
	}

	#gallery ul a:hover img {

		border: 5px solid #ccc;

		border-width: 5px 5px 20px;

		color: #fff;

	}

	#gallery ul a:hover { color: #fff; }
	
