.x-toolbar-main-app-menu{
	background-color:#f6f6f6;
}

.x-horizontal-box-overflow-body {
	background-color:#f6f6f6; 
}

.dcv-edit-form  {
   background: none repeat scroll 0 0 transparent ;    
}

.dcv-filter-form  {
   background: none repeat scroll 0 0 transparent ;   
}

.x-item-disabled .x-form-item-label,.x-item-disabled .x-form-cb-label {
   filter:alpha(opacity=100) ;
   opacity:1 ; 
   color:#333 !important; 
} 
.x-item-disabled .x-form-field {
   filter:alpha(opacity=100) ;
   opacity:1;
   background:none;
   background-color: #e9e9e9!important;
   color:#333 !important;
}
 
.important-field {
	font-weight:bold;
} 
 
.displayfield {	 
	border:1px solid #c3c3c3;
	background-color: #e3e3e3!important;
	min-height:20px;
	height: 100%; 
	padding: 2 5 0 5;	
}

.displayfieldnumber {
	border:1px solid #c3c3c3;
	background-color: #e3e3e3!important;
	height:20px; 
	padding: 2 5 0 5;
	text-align:right;
}  
 
.dnet-toolbar-title { font-weight:bold; font-size:14px;padding-left:9px; padding-right:9px;   }

.lovCombo-item {
    font:normal 11px tahoma, arial, helvetica, sans-serif;
    padding:3px 10px 3px 10px;
    border:1px solid #fff;
    border-bottom:1px solid #eeeeee;
    white-space:normal;
    color:#555;
}
.lovCombo-item h3 {
    display:block;
    font:inherit;
    font-weight:bold;
    color:#222;
}

.lovCombo-item h3 span {
    float: right;
    font-weight:normal;
    margin:0 0 5px 5px;
    width:100px;
    display:block;
    clear:none;
}
 

.app-header-text {
	font:bold 11px tahoma, arial, helvetica, sans-serif;
	padding:8px 5px 5px 5px;
}
.app-header-link {
	font:normal 11px tahoma, arial, helvetica, sans-serif;
	font-color:#229;
	text-decoration: underline;
	cursor: pointer;
	padding:8px 5px 5px 5px;
}

 

/* Styles used by Ext.ux.form.ItemSelector */

.x-form-multiselect-body .x-boundlist .x-mask {
    background: none;
}

.x-form-itemselector-body .x-form-item {
    margin: 0;
}

.x-form-itemselector-top {
    background-image: url(../images/gray/ux/top2.gif) !important;
}
.x-form-itemselector-up {
    background-image: url(../images/gray/ux/up2.gif) !important;
}
.x-form-itemselector-add {
    background-image: url(../images/gray/ux/right2.gif) !important;
}
.x-form-itemselector-remove {
    background-image: url(../images/gray/ux/left2.gif) !important;
}
.x-form-itemselector-down {
    background-image: url(../images/gray/ux/down2.gif) !important;
}
.x-form-itemselector-bottom {
    background-image: url(../images/gray/ux/bottom2.gif) !important;
}
.x-form-itemselector-desc {
    background-image: url(../images/gray/icon/sort.gif) !important;
}



.icon-hometab {
    background-image: url(../images/gray/icon/home_nav.gif) !important;
}

/*   Action buttons css  */
.icon-lov-open-dialog {
    background-image: url(../images/gray/icon/action_next_rec1.gif) !important;
}
.icon-product-hr {
    background-image: url(../images/gray/icon/icon_hr.png) !important;
}

.icon-action-new {
    background-image: url(../images/gray/icon/action_new.gif) !important;
}
.icon-action-add {
    background-image: url(../images/gray/icon/action_add.gif) !important;
}
.icon-action-copy {
    background-image: url(../images/gray/icon/action_copy.gif) !important;
}
.icon-action-edit {
    background-image: url(../images/gray/icon/action_edit.gif) !important;
}
.icon-action-view {
    background-image: url(../images/gray/icon/action_filter.gif) !important;
}
.icon-action-delete {
    background-image: url(../images/gray/icon/action_delete.gif) !important;
}
.icon-action-remove {
    background-image: url(../images/gray/icon/action_delete.gif) !important;
}
.icon-action-removeSelection {
    background-image: url(../images/gray/icon/action_delete.gif) !important;
}
.icon-action-deleteSelection {
    background-image: url(../images/gray/icon/action_delete.gif) !important;
}
.icon-action-commit {
    background-image: url(../images/gray/icon/action_commit.png) !important;
}
.icon-action-rollback {
    background-image: url(../images/gray/icon/action_rollback3.gif) !important;
}
.icon-action-save {
    background-image: url(../images/gray/icon/action_save.gif) !important;
}
.icon-action-saveAll {
    background-image: url(../images/gray/icon/action_saveAll.gif) !important;
}

.icon-action-refresh {
    background-image: url(../images/gray/icon/action_refresh.gif) !important;
}
.icon-action-filter {
    background-image: url(../images/gray/icon/action_filter.gif) !important;
}
.icon-action-fetch {
    background-image: url(../images/gray/icon/action_fetch.gif) !important;
}
.icon-action-export{
    background-image: url(../images/gray/icon/action_export.gif) !important;
}
.icon-action-import{
    background-image: url(../images/gray/icon/action_import.gif) !important;
}
.icon-action-sort {
    background-image: url(../images/gray/icon/sort.gif)  ;
}
.icon-action-customlayout{
    background-image: url(../images/gray/icon/customlayout.gif) !important;
}
 
.icon-action-confirm {
    background-image: url(../images/gray/icon/action_confirm.png) !important;
}
.icon-action-run {
    background-image: url(../images/gray/icon/action_run.gif) !important;
}
.icon-action-reset {
    background-image: url(../images/gray/icon/action_reset.gif) !important;
}
.icon-action-back {
    background-image: url(../images/gray/icon/action_back.gif) !important;
}
.icon-action-paste {
    background-image: url(../images/gray/icon/action_paste.png) !important;
}
.icon-action-summary {
    background-image: url(../images/gray/icon/action_summary.png) !important;
}

.icon-action-service{
    background-image: url(../images/gray/icon/ds_service.png) !important;
}
.icon-action-print{
    background-image: url(../images/gray/icon/action_print.png) !important;
} 
.icon-action-expand-all {
    background-image: url(../images/gray/icon/action_expand_all.gif) !important;
}
.icon-action-collapse-all {
    background-image: url(../images/gray/icon/action_collapse_all.gif) !important;
}
.icon-action-synchronize {
    background-image: url(../images/gray/icon/action_synchronize.gif) !important;
}
 
.icon-action-previous {
    background-image: url(../images/gray/icon/action_prev_rec.gif) ; 
}
.icon-action-next {
    background-image: url(../images/gray/icon/action_next_rec.gif)  ; 
}
 
.icon-action-help {
    background-image: url(../images/gray/icon/action_help.png) !important;
}
.icon-action-resetForm {
    background-image: url(../images/gray/icon/action_resetForm.gif) !important;
}
.icon-package {
    background-image: url(../images/gray/icon/obj_package.gif) !important;
}
.icon-ds {
    background-image: url(../images/gray/icon/obj_ds.png) !important;
}
.icon-dc {
    background-image: url(../images/gray/icon/obj_dc.png) !important;
}
.icon-lov {
    background-image: url(../images/gray/icon/obj_lov.gif) !important;
}
.icon-dialog {
    background-image: url(../images/gray/icon/obj_dialog.png) !important;
}
.icon-gears {
    background-image: url(../images/gray/icon/ds_service.png) !important;
}

.icon-lock {
    background-image: url(../images/gray/icon/lock.gif) !important ;
}
.icon-lang-ro {
    background-image: url(../images/gray/icon/flag_ro.jpg) !important ;
}
.icon-lang-en {
    background-image: url(../images/gray/icon/flag_en.jpg) !important;
}

.icon-action-assign_moveleft {
    background-image: url(../images/gray/icon/action_assign_left.gif) !important;
}
.icon-action-assign_moveright {
    background-image: url(../images/gray/icon/action_assign_right.gif) !important;
}

.icon-action-assign_moveleftall {
    background-image: url(../images/gray/icon/action_assign_leftall.gif) !important;
}
.icon-action-assign_moverightall {
    background-image: url(../images/gray/icon/action_assign_rightall.gif) !important;
}