<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:osgi="http://www.springframework.org/schema/osgi"
	xmlns:osgi-compendium="http://www.springframework.org/schema/osgi-compendium"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans
				http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context 
				http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/osgi 
				http://www.springframework.org/schema/osgi/spring-osgi.xsd	
			http://www.springframework.org/schema/osgi-compendium 
    			http://www.springframework.org/schema/osgi-compendium/spring-osgi-compendium.xsd">
	
	
	
	 
	
	
	
	
	
	
	
	 
	
	<bean id="application_uiExtjsSettings" class="net.nan21.dnet.core.web.settings.UiExtjsSettings"
		scope="singleton">
		<property name="urlUiExtjs" value="${url.ui.extjs}" />
		<property name="urlUiExtjsCore" value="${url.ui.extjs.core}" />
		<property name="urlUiExtjsLibExtjs" value="${url.ui.extjs.lib.extjs}" />
	</bean>
	<!--
		<osgi:reference cardinality="1..1" id="osgiBaseDsService"
		interface="net.nan21.dnet.core.api.service.IDsService" />
	-->
	<osgi:reference id="osgiDataSource" cardinality="0..1" interface="javax.sql.DataSource" />
	<osgi:list id="osgiEntityManagerFactory" cardinality="0..N" interface="javax.persistence.EntityManagerFactory"></osgi:list>
	
	<!-- 
	<bean id="persistenceUnitManager"
		class="org.springframework.orm.jpa.persistenceunit.DefaultPersistenceUnitManager">
		
		<property name="persistenceXmlLocations">
			<list>
				<value>classpath*:META-INF/persistence.xml</value>
				<value>classpath*:META-INF/persistence2.xml</value>
			</list>
		</property>
		 
		<property name="persistenceUnitPostProcessors">
			<list>
				<bean
					class="net.nan21.dnet.core.domain.persistenceunit.DnetPersistenceUnitPostProcessor">
					<constructor-arg value="${emf.persistenceUnitName}" />
					<constructor-arg ref="osgiDataSource" />
					<constructor-arg>
						<props>
							<prop key="eclipselink.target-database">${emf.databasePlatform}</prop>
							<prop key="eclipselink.ddl-generation">${eclipselink.ddl-generation}</prop>
							<prop key="eclipselink.ddl-generation.output-mode">${eclipselink.ddl-generation.output-mode}</prop>
						</props>
					</constructor-arg>
				</bean>
			</list>
		</property>
	</bean>
	 -->
	 
</beans>